@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

template {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

hr {
  background: #bababa;
  margin: -1px 0; }
  @media only screen and (max-width: 610px) {
    hr {
      display: none; } }

h1 {
  font-family: "Merriweather", serif;
  font-weight: 400; }

h2 {
  font-family: "Merriweather", serif;
  font-weight: 400; }

h3 {
  font-family: "Merriweather", serif;
  font-weight: 400; }

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

h5 {
  font-family: "Merriweather", serif;
  font-weight: 400; }

.header {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px; }
  @media only screen and (max-width: 768px) {
    .header {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-left: 10px;
      margin-right: 10px; } }
  .header--logo {
    min-width: 250px;
    margin-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .header--logo img {
      width: 50px;
      height: auto;
      display: inline-block;
      float: left;
      margin-right: 10px; }
      @media only screen and (max-width: 768px) {
        .header--logo img {
          margin-right: 0; } }
    .header--logo h1 {
      font-size: 30px;
      color: #29343a;
      line-height: 20px;
      letter-spacing: .025rem;
      margin: 0;
      display: block;
      padding-top: 10px; }
    .header--logo h3 {
      font-size: 16px;
      color: #556268;
      letter-spacing: .025rem;
      margin: 10px 0 0;
      display: block; }
  .header--contact {
    width: 450px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 768px) {
      .header--contact {
        width: 150px; } }
    .header--contact h4 {
      font-size: 15px;
      color: #414b4b;
      letter-spacing: .025rem;
      margin: 0; }
      @media only screen and (max-width: 768px) {
        .header--contact h4 {
          display: none; } }
  .header--button {
    font-family: "Merriweather", serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
    letter-spacing: .025rem;
    background-color: #94d669;
    border: none;
    padding: 12px 28px;
    outline: none; }
    @media only screen and (max-width: 768px) {
      .header--button {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    @media only screen and (max-width: 480px) {
      .header--button {
        display: none; } }

nav {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 610px) {
    nav {
      display: none; } }
  nav ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media only screen and (max-width: 768px) {
      nav ul {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around; } }
    nav ul li {
      margin-right: 40px;
      padding: 0 20px; }
      nav ul li:hover {
        background-color: #627aad; }
      @media only screen and (max-width: 768px) {
        nav ul li {
          margin-right: 0; } }
      nav ul li h4 {
        color: #414b4b;
        letter-spacing: .025rem;
        margin-top: 0;
        margin-bottom: 7px;
        padding-top: 25px;
        font-size: 16px; }
      nav ul li h5 {
        letter-spacing: .025rem;
        color: #b5bdc0;
        margin: 0;
        size: 13px;
        padding-bottom: 30px; }

.hero {
  border-top: 10px solid #94d669;
  max-width: 100%;
  height: 510px;
  background-image: url(../img/hero-water-ripple.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 320px) {
    .hero {
      height: 348px; } }
  .hero--container {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; }
    @media only screen and (max-width: 768px) {
      .hero--container {
        margin-top: 110px; } }
    @media only screen and (max-width: 480px) {
      .hero--container {
        margin-top: 0; } }
  .hero--blurb-box {
    max-width: 450px;
    margin-left: 90px; }
    @media only screen and (max-width: 610px) {
      .hero--blurb-box {
        margin: 0 auto; } }
  .hero--blurb {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 70px 0 30px; }
    @media only screen and (max-width: 768px) {
      .hero--blurb {
        padding-right: 30px; } }
    @media only screen and (max-width: 320px) {
      .hero--blurb {
        background-color: rgba(255, 255, 255, 0.6); } }
    .hero--blurb h2 {
      font-size: 30px;
      margin: 0;
      color: #3b5998;
      letter-spacing: .025rem; }
    .hero--blurb h3 {
      font-size: 19px;
      color: #3b5998;
      line-height: 28px;
      padding-bottom: 45px;
      margin-bottom: 0px; }
  .hero--button {
    font-family: "Merriweather", serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
    background-color: #94d669;
    border: none;
    padding: 11px 30px;
    outline: none; }
    @media only screen and (max-width: 480px) {
      .hero--button {
        margin: 0 auto;
        width: 100%; } }

.news-events {
  width: 100%; }
  @media only screen and (max-width: 610px) {
    .news-events {
      padding-bottom: 28px; } }
  .news-events--header {
    background-color: #3b5998;
    width: 100%; }
    .news-events--header-container {
      max-width: 60em;
      margin-left: auto;
      margin-right: auto; }
      .news-events--header-container h2 {
        max-width: 185px;
        margin: 0 0 0 10px;
        color: white;
        font-weight: 400;
        font-size: 24px;
        padding: 10px 0; }
        @media only screen and (max-width: 768px) {
          .news-events--header-container h2 {
            display: block;
            text-align: center;
            width: 100%; } }

.content-container {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 610px) {
    .content-container {
      display: block;
      max-width: 100%; } }
  .content-container--news {
    max-width: 480px; }
    @media only screen and (max-width: 610px) {
      .content-container--news {
        max-width: 100%;
        margin-bottom: 28px; } }
    .content-container--news-container {
      margin: 0 30px 0 10px; }
    @media only screen and (max-width: 610px) {
      .content-container--news {
        max-width: 100%;
        padding-right: 0;
        margin-left: 20px;
        margin-right: 20px; } }
  .content-container--events {
    max-width: 480px;
    background-color: #f2f2f2; }
    @media only screen and (max-width: 610px) {
      .content-container--events {
        max-width: 100%;
        margin-bottom: 28px; } }
    .content-container--events-container {
      margin: 0 20px 0 15px; }
      @media only screen and (max-width: 850px) {
        .content-container--events-container {
          margin-right: 10px; } }
      @media only screen and (max-width: 610px) {
        .content-container--events-container {
          margin-left: 20px;
          margin-right: 20px;
          padding-bottom: 28px; } }

.picture-lockup {
  background-color: #627aad;
  max-width: 100%;
  margin-bottom: 70px;
  position: relative; }
  .picture-lockup:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #627aad;
    border-width: 30px;
    margin-left: -30px; }
  .picture-lockup--container {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    .picture-lockup--container ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 30px 0 0;
      padding-left: 0;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media only screen and (max-width: 768px) {
        .picture-lockup--container ul {
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; } }
      .picture-lockup--container ul li {
        margin-bottom: 20px; }
        .picture-lockup--container ul li img {
          width: 200px;
          height: auto;
          border: 2px solid #f2f2f2; }
        .picture-lockup--container ul li p {
          text-align: center;
          margin-bottom: 0;
          font-family: "Merriweather", serif;
          font-size: 14px;
          font-weight: 400;
          color: white;
          letter-spacing: .025rem; }

.watering-schedule {
  max-width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 70px; }
  .watering-schedule--container {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto; }
    .watering-schedule--container h2 {
      margin: 0 0 45px 10px;
      padding-top: 25px;
      color: #29343a; }
    .watering-schedule--container button {
      font-family: merriweather;
      font-weight: 400;
      font-size: 15px;
      color: white;
      background-color: #627aad;
      padding: 15px 20px;
      border: none;
      outline: none;
      margin: 0 auto 40px;
      display: block; }
  .watering-schedule--tabs {
    max-width: 950px;
    margin-left: 10px; }
    .watering-schedule--tabs::after {
      clear: both;
      content: "";
      display: table; }
  @media only screen and (max-width: 768px) {
    .watering-schedule {
      padding-right: 10px; } }

.footer {
  max-width: 100%;
  background-color: #3b5998;
  border-top: solid 10px #627aad; }
  .footer--container {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 70px;
    padding-bottom: 80px; }
    @media only screen and (max-width: 768px) {
      .footer--container {
        display: block; } }
    .footer--container h3 {
      color: white;
      font-size: 17px;
      margin: 0 0 15px; }
    .footer--container p {
      color: white;
      font-family: "Merriweather", serif;
      font-weight: 400;
      font-size: 13px;
      margin: 0;
      line-height: 19px;
      letter-spacing: .025rem; }
    .footer--container--contact-info {
      width: 400px;
      margin-left: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media only screen and (max-width: 768px) {
        .footer--container--contact-info {
          margin: 0 auto; } }
      .footer--container--contact-info a {
        color: white;
        text-decoration: none;
        -webkit-transition: .2s ease;
                transition: .2s ease; }
        .footer--container--contact-info a:hover {
          color: #627aad; }
    .footer--container button {
      font-family: "Merriweather", serif;
      font-size: 15px;
      font-weight: 400;
      color: white;
      letter-spacing: .025rem;
      background-color: #627aad;
      border: none;
      padding: 15px 30px;
      outline: none;
      margin-right: 30px; }
      @media only screen and (max-width: 768px) {
        .footer--container button {
          display: none; } }

@media only screen and (max-width: 610px) {
  .content-container {
    margin: 0 auto; } }

.content-container h4 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: .025rem;
  color: #29343a; }
  @media only screen and (max-width: 610px) {
    .content-container h4 {
      text-align: center;
      padding: 25px 0 10px;
      margin-top: 0;
      border-bottom: 1px solid #bababa; } }

.content-container p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .025rem;
  color: #3b5998;
  line-height: 20px;
  margin-bottom: 5px; }

.content-container h4.date {
  font-weight: 400;
  font-size: 13px;
  border-bottom: 1px solid #b5bdc0;
  margin: 0;
  padding-bottom: 15px; }
  @media only screen and (max-width: 610px) {
    .content-container h4.date {
      margin-right: 0;
      text-align: left;
      padding-top: 0; } }

.content-container button {
  font-family: "Merriweather", serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 8px 0 8px 10px;
  border: none;
  background-color: #94d669;
  letter-spacing: .025rem;
  margin: 28px 0;
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 610px) {
    .content-container button {
      margin: 28px auto 0; } }
  .content-container button:after {
    display: inline-block;
    content: ' ';
    background-image: url("../img/right-arrow.svg");
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
    margin-left: 10px;
    margin-right: 8px; }

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  border-bottom: 1px solid #bababa;
  width: 100%; }
  ul.tabs li {
    float: left;
    margin: 0;
    cursor: pointer;
    padding: 10px 50px;
    line-height: 31px;
    border-top: 1px solid #bababa;
    border-left: 1px solid #bababa;
    background-color: #627aad;
    color: white;
    overflow: hidden;
    position: relative;
    font-family: "Merriweather", serif;
    font-size: 15px;
    letter-spacing: .025rem;
    color: white;
    -webkit-transition: .2s ease;
            transition: .2s ease; }
    ul.tabs li:hover {
      background-color: #f2f2f2;
      color: #3b5998; }

ul.tabs li.active {
  background-color: #3b5998;
  color: white;
  display: block;
  position: relative; }

.tab_container {
  border: 1px solid #bababa;
  border-top: none;
  clear: both;
  float: left;
  width: 100%;
  background: white;
  overflow: auto;
  margin-bottom: 40px; }

.tab_content {
  padding: 0 0 50px 35px;
  display: none; }
  @media only screen and (max-width: 768px) {
    .tab_content {
      padding-left: 0; } }
  .tab_content--container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .tab_content--container-text {
      max-width: 600px;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      @media only screen and (max-width: 768px) {
        .tab_content--container-text {
          max-width: 85%;
          margin: 0 auto; } }
    .tab_content--container-image {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      @media only screen and (max-width: 850px) {
        .tab_content--container-image {
          display: none; } }
      .tab_content--container-image img {
        border: 1px solid #bababa;
        display: inline; }
  .tab_content h2 {
    font-size: 17px;
    color: #29343a;
    margin: 45px 0 15px 0;
    padding-top: 0; }
    .tab_content h2:nth-of-type(2n) {
      margin-top: 20px; }
  .tab_content p {
    font-family: "Merriweather", serif;
    font-size: 13px;
    font-weight: 400;
    color: #556268;
    line-height: 22px;
    margin: 0;
    padding-bottom: 20px; }
    .tab_content p:first-of-type {
      border-bottom: 1px solid #bababa; }
    .tab_content p:nth-of-type(2) {
      padding-bottom: 0;
      margin-bottom: 25px; }
  .tab_content--watering-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 610px) {
      .tab_content--watering-info {
        display: block; } }
    .tab_content--watering-info--watering-box {
      max-width: 260px;
      border: 1px solid #bababa; }
      @media only screen and (max-width: 610px) {
        .tab_content--watering-info--watering-box {
          margin: 0 auto; }
          .tab_content--watering-info--watering-box:first-child {
            margin-bottom: 50px; } }
      .tab_content--watering-info--watering-box h4 {
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 19px;
        letter-spacing: .025rem;
        text-align: center;
        margin: 0;
        padding: 12px 0 10px;
        color: white;
        background-color: #627aad; }
        .tab_content--watering-info--watering-box h4:nth-child(even) {
          color: #627aad;
          background-color: white;
          margin: 25px 0;
          padding: 0; }

.tab_last {
  border-right: 1px solid #bababa; }

.tab_drawer_heading {
  display: none; }

@media only screen and (max-width: 480px) {
  .tabs {
    display: none; }
  .tab_drawer_heading {
    background-color: #ccc;
    color: white;
    border-top: 1px solid #bababa;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .d_active {
    background-color: #666;
    color: #fff; } }
