.news-events
  width: 100%

  +respond-to (sm-md)
    padding-bottom: +(28px)

  &--header
    background-color: $blue
    width: 100%

    &-container
      +container-new

      h2
        max-width: +(185px)
        margin: 0 0 0 10px
        color: white
        font-weight: 400
        font-size: +(24px)
        padding: 10px 0

        +respond-to(medium)
          display: block
          text-align: center
          width: 100%

.content-container
  +container-new
  margin-top: 45px
  margin-bottom: 70px
  display: flex

  +respond-to(sm-md)
    display: block
    max-width: 100%

  &--news
    max-width: +(480px)

    +respond-to(sm-md)
      max-width: 100%
      margin-bottom: 28px

    &-container
      margin: 0 30px 0 10px

    +respond-to(sm-md)
      max-width: 100%
      padding-right: 0
      margin-left: +(20px)
      margin-right: +(20px)


  &--events
    max-width: +(480px)
    background-color: $light-grey

    +respond-to(sm-md)
      max-width: 100%
      margin-bottom: +(28px)

    &-container
      margin: 0 20px 0 15px

      +respond-to(md-lg)
        margin-right: +(10px)

      +respond-to(sm-md)
        margin-left: +(20px)
        margin-right: +(20px)
        padding-bottom: (28px)
