.watering-schedule
  max-width: 100%
  background-color: $light-grey
  margin-bottom: +(70px)

  &--container
    +container-new

    h2
      margin: 0 0 45px 10px
      padding-top: 25px
      color: $black

      +respond-to(sm-md)
        margin-left: +(20px)

    button
      font:
        family: merriweather
        weight: 400
        size: +(15px)
      color: white
      background-color: $light-blue
      padding: 14px 20px
      border: 1px solid $light-blue
      outline: none
      margin: 0 auto 40px
      display: block
      transition: .2s ease

      &:hover
        background-color: $light-grey
        color: $light-blue
        border: 1px solid $border-color

  &--tabs
    max-width: +(950px)
    margin-left: +(10px)
    +clearfix

  +respond-to(medium)
    padding-right: +(10px)

  +respond-to(sm-md)
    padding-left: +(10px)
    padding-right: +(20px)
