ul.tabs
  margin: 0
  padding: 0
  float: left
  list-style: none
  border-bottom: 1px solid $border-color
  width: 100%

  li
    float: left
    margin: 0
    cursor: pointer
    padding: 10px 50px
    line-height: 31px
    border:
      top: 1px solid $border-color
      left: 1px solid $border-color
    background-color: $light-blue
    color: white
    overflow: hidden
    position: relative
    font-family: $merriweather
    font-size: +(15px)
    letter-spacing: .025rem
    color: white
    transition: .2s ease

    &:hover
      background-color: $light-grey
      color: $blue

ul.tabs li.active
  background-color: $blue
  color: white
  display: block
  position: relative

.tab_container
  border: 1px solid $border-color
  border-top: none
  clear: both
  float: left
  width: 100%
  background: white
  overflow: auto
  margin-bottom: +(40px)

.tab_content
  padding: 0 0 50px 35px
  display: none

  +respond-to(medium)
    padding-left: 0

  &--container
    display: flex

    &-text
      max-width: +(600px)
      flex: 1

      +respond-to(medium)
        max-width: 85%
        margin: 0 auto

    &-image
      display: flex
      margin: 0 auto
      align-items: flex-end

      +respond-to(md-lg)
        display: none

      img
        border: 1px solid $border-color
        display: inline

  h2
    font-size: +(17px)
    color: $black
    margin: 45px 0 15px 0
    padding-top: 0

    &:nth-of-type(2n)
      margin-top: 20px

  p
    font:
      family: $merriweather
      size: (+13px)
      weight: 400
    color: $logo-grey
    line-height: 22px
    margin: 0
    padding-bottom: 20px

    &:first-of-type
      border-bottom: 1px solid $border-color

    &:nth-of-type(2)
      padding-bottom: 0
      margin-bottom: +(25px)

  &--watering-info
    display: flex
    justify-content: space-between

    +respond-to (sm-md)
      display: block

    &--watering-box
      max-width: +(260px)
      border: 1px solid $border-color

      +respond-to(sm-md)
        margin:0 auto
        &:first-child
          margin-bottom: +(50px)
      h4
        font:
          weight: 700
          size: (+14px)
        text-transform: uppercase
        line-height: +(19px)
        letter-spacing: .025rem
        text-align: center
        margin: 0
        padding: 12px 0 10px
        color: white
        background-color: $light-blue

        &:nth-child(even)
          color: $light-blue
          background-color: white
          margin: 25px 0
          padding: 0



.tab_drawer_heading
  display: none

+respond-to(small)
  .tabs
    display: none

  .tab_drawer_heading
    background-color: $light-blue
    color: white
    border-top: 1px solid $border-color
    margin: 0
    padding: 10px 0 10px 20px
    display: block
    cursor: pointer
    user-select: none
